STB7.json.bak
[{"id":"abf12ceb16a2c99b","type":"tab","label":"Stb7","disabled":false,"info":"","env":[]},{"id":"f0638022f759e4b4","type":"websocket out","z":"abf12ceb16a2c99b","name":"ws stb7","server":"","client":"ce891a12e73ed0c8","x":1180,"y":360,"wires":[]},{"id":"34172299fcc545a5","type":"function","z":"abf12ceb16a2c99b","name":"ButtonEvent","func":"msg.payload = {\n    \"Params\": {\n        \"Token\": \"LAN\",\n        \"Action\": \"ButtonEvent\",\n        \"Press\": [msg.payload]\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":280,"wires":[["9f528b339c563840"]]},{"id":"9f528b339c563840","type":"json","z":"abf12ceb16a2c99b","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":360,"wires":[["f0638022f759e4b4"]]},{"id":"d205f55536e85a6a","type":"function","z":"abf12ceb16a2c99b","name":"ZAP (payload)","func":"msg.payload = {\n    \"Params\": {\n        \"Token\": \"LAN\",\n        \"Action\": \"CustomEvent\",\n        \"Event\": \"GotoLive\",\n        \"Params\": [msg.payload]\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":2360,"wires":[["cfce8e77e75aae7e"]]},{"id":"5af694a2337a1197","type":"function","z":"abf12ceb16a2c99b","name":"GetSessionsStatus","func":"msg.payload = {\n    \"Params\": {\n        \"Token\": \"LAN\",\n        \"Action\": \"GetSessionsStatus\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":440,"wires":[["9f528b339c563840"]]},{"id":"e2d8b4d163b9ffe6","type":"function","z":"abf12ceb16a2c99b","name":"On-Off","func":"msg.payload = {\n    \"Params\": {\n        \"Token\": \"LAN\",\n        \"Action\": \"ButtonEvent\",\n        \"Press\": [303]\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":520,"wires":[["9f528b339c563840"]]},{"id":"40ef3264689a097f","type":"server-state-changed","z":"abf12ceb16a2c99b","name":"STB7 state","server":"682b837e4ccd099b","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.stb7_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":520,"wires":[["d79af26d1902dfed"],["3342d43d00713ca5"]]},{"id":"8609247335ce519c","type":"inject","z":"abf12ceb16a2c99b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 04 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":2120,"wires":[["73decde0602d9b47"]]},{"id":"14f3e3a8588bb24b","type":"delay","z":"abf12ceb16a2c99b","name":"","pauseType":"delay","timeout":"2000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":560,"y":2180,"wires":[["397e8a2ed02822b7","dc637737fcc733b5"]]},{"id":"8846aa8d6debf6ef","type":"change","z":"abf12ceb16a2c99b","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":2080,"wires":[["80c5716ccbaa2b86"]]},{"id":"a7b460e02e605176","type":"change","z":"abf12ceb16a2c99b","name":"+1","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload +1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":2180,"wires":[["14f3e3a8588bb24b","d205f55536e85a6a","30a1d63ed8e14e98"]]},{"id":"397e8a2ed02822b7","type":"switch","z":"abf12ceb16a2c99b","name":"<=110","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"32","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":2240,"wires":[["80c5716ccbaa2b86"],["a179eda7c2911675"]]},{"id":"513b8e05ed87e997","type":"change","z":"abf12ceb16a2c99b","name":"scan","rules":[{"t":"set","p":"scan","pt":"global","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":2080,"wires":[["8846aa8d6debf6ef"]]},{"id":"80c5716ccbaa2b86","type":"delay","z":"abf12ceb16a2c99b","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":250,"y":2180,"wires":[["a7b460e02e605176"]]},{"id":"30a1d63ed8e14e98","type":"change","z":"abf12ceb16a2c99b","name":"numcou","rules":[{"t":"set","p":"numcou","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":2140,"wires":[[]]},{"id":"73decde0602d9b47","type":"change","z":"abf12ceb16a2c99b","name":"ancname","rules":[{"t":"set","p":"ancname","pt":"global","to":"\"\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":2080,"wires":[["a3c4e28d33e98bc5"]]},{"id":"dc637737fcc733b5","type":"function","z":"abf12ceb16a2c99b","name":"GetSessionsStatus","func":"msg.payload = {\n    \"Params\": {\n        \"Token\": \"LAN\",\n        \"Action\": \"GetSessionsStatus\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":2300,"wires":[["cfce8e77e75aae7e"]]},{"id":"722ad4c7cc298eb9","type":"inject","z":"abf12ceb16a2c99b","name":"repete 2 sec","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":120,"y":440,"wires":[["fdcfc0a55b2adac2"]]},{"id":"cfce8e77e75aae7e","type":"json","z":"abf12ceb16a2c99b","name":"","property":"payload","action":"","pretty":false,"x":910,"y":2320,"wires":[["a0bede54f641905f"]]},{"id":"a0bede54f641905f","type":"websocket out","z":"abf12ceb16a2c99b","name":"ws stb7","server":"","client":"ce891a12e73ed0c8","x":1040,"y":2320,"wires":[]},{"id":"fdcfc0a55b2adac2","type":"switch","z":"abf12ceb16a2c99b","name":"<> scan","property":"scan","propertyType":"global","rules":[{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":440,"wires":[["5af694a2337a1197"]]},{"id":"fa2320987adca3ad","type":"switch","z":"abf12ceb16a2c99b","name":"true","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":520,"wires":[["e2d8b4d163b9ffe6"]]},{"id":"d79af26d1902dfed","type":"change","z":"abf12ceb16a2c99b","name":"OK","rules":[{"t":"set","p":"payload","pt":"msg","to":"OK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":500,"wires":[["37d5a4f33cbf7db0"]]},{"id":"3342d43d00713ca5","type":"change","z":"abf12ceb16a2c99b","name":"KO","rules":[{"t":"set","p":"payload","pt":"msg","to":"KO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":540,"wires":[["37d5a4f33cbf7db0"]]},{"id":"37d5a4f33cbf7db0","type":"function","z":"abf12ceb16a2c99b","name":"","func":"a = msg.payload;\nb = global.get (\"status_actuel\");\nb = b.RemoteResponseCode;\nmsg.payload = (a != b ) \n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":520,"wires":[["fa2320987adca3ad"]]},{"id":"a179eda7c2911675","type":"change","z":"abf12ceb16a2c99b","name":"scan","rules":[{"t":"set","p":"scan","pt":"global","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":2240,"wires":[["0c85f44350c146ff"]]},{"id":"a3c4e28d33e98bc5","type":"change","z":"abf12ceb16a2c99b","name":"","rules":[{"t":"set","p":"sources","pt":"global","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":2080,"wires":[["97f867d59bdc2244"]]},{"id":"97f867d59bdc2244","type":"change","z":"abf12ceb16a2c99b","name":"","rules":[{"t":"set","p":"names","pt":"global","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":2080,"wires":[["513b8e05ed87e997"]]},{"id":"a55883c95b8ff80d","type":"api-call-service","z":"abf12ceb16a2c99b","name":"STB sources","server":"682b837e4ccd099b","version":5,"debugenabled":false,"domain":"input_select","service":"set_options","areaId":[],"deviceId":[],"entityId":["input_select.stb7_sources"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1410,"y":2040,"wires":[[]]},{"id":"0c85f44350c146ff","type":"change","z":"abf12ceb16a2c99b","name":"global Name","rules":[{"t":"set","p":"payload","pt":"msg","to":"names","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":2040,"wires":[["00052874387fc0f8","53fa4da92fa7bb69"]]},{"id":"00052874387fc0f8","type":"function","z":"abf12ceb16a2c99b","name":"Data","func":"var newMsg =  {  \n   payload:{  \n      \"data\":{  \n         \"options\": \n            msg.payload\n       }\n   }\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1250,"y":2040,"wires":[["a55883c95b8ff80d"]]},{"id":"519548dc6fe6aa3c","type":"websocket in","z":"abf12ceb16a2c99b","name":"ws stb7","server":"","client":"ce891a12e73ed0c8","x":70,"y":840,"wires":[["71e165eb09f6471b"]]},{"id":"71e165eb09f6471b","type":"json","z":"abf12ceb16a2c99b","name":"","property":"payload","action":"","pretty":false,"x":190,"y":840,"wires":[["e88f30867e1e265e"]]},{"id":"e88f30867e1e265e","type":"switch","z":"abf12ceb16a2c99b","name":"GetSessionsStatus ?","property":"payload.Action","propertyType":"msg","rules":[{"t":"eq","v":"GetSessionsStatus","vt":"str"},{"t":"eq","v":"ButtonEvent","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":360,"y":840,"wires":[["1b7b64e7387d66f3","b7803c49b217080c"],["23741bb1c8e8f1dc"],[]]},{"id":"1b7b64e7387d66f3","type":"change","z":"abf12ceb16a2c99b","name":"","rules":[{"t":"set","p":"status_actuel","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":800,"wires":[["e8bc21183ee36f1c","ab499b4770b6b0aa","838e5ef03a070c33"]]},{"id":"e8bc21183ee36f1c","type":"change","z":"abf12ceb16a2c99b","name":"extrait OK KO","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.RemoteResponseCode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":680,"wires":[["7fbe78858a57e37a"]]},{"id":"7fbe78858a57e37a","type":"switch","z":"abf12ceb16a2c99b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"eq","v":"KO","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":680,"wires":[["df8c6daa5da33009"],["fc673781ddf62550"]]},{"id":"df8c6daa5da33009","type":"api-call-service","z":"abf12ceb16a2c99b","name":"STB7 state on","server":"682b837e4ccd099b","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.stb7_state"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1180,"y":640,"wires":[[]]},{"id":"fc673781ddf62550","type":"api-call-service","z":"abf12ceb16a2c99b","name":"STB7 state off","server":"682b837e4ccd099b","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.stb7_state"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1180,"y":700,"wires":[[]]},{"id":"7e971c6e1e1018fc","type":"server-state-changed","z":"abf12ceb16a2c99b","name":"STB7 key","server":"682b837e4ccd099b","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.stb7_key","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"0","halt_if_type":"num","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":280,"wires":[["374411a6eb6f3f8a"],[]]},{"id":"374411a6eb6f3f8a","type":"change","z":"abf12ceb16a2c99b","name":"entier","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round($number(msg.payload))\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":280,"wires":[["34172299fcc545a5"]]},{"id":"5a0a8dbf4faafa16","type":"server-state-changed","z":"abf12ceb16a2c99b","name":"STB7  sources","server":"682b837e4ccd099b","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.stb7_sources","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":600,"wires":[["67ab95cd3af2051c"]]},{"id":"67ab95cd3af2051c","type":"function","z":"abf12ceb16a2c99b","name":"found","func":"a = global.get (\"sources\")\n\nmsg.payload = a.find(element => element.Name == msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":600,"wires":[["4821b0b05d099650"]]},{"id":"4821b0b05d099650","type":"change","z":"abf12ceb16a2c99b","name":"extrait Num","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Num","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":600,"wires":[["ef39efe19b8b32e9"]]},{"id":"ef39efe19b8b32e9","type":"function","z":"abf12ceb16a2c99b","name":"ZAP (payload)","func":"msg.payload = {\n    \"Params\": {\n        \"Token\": \"LAN\",\n        \"Action\": \"CustomEvent\",\n        \"Event\": \"GotoLive\",\n        \"Params\": [msg.payload]\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":600,"wires":[["9f528b339c563840"]]},{"id":"2d37ed0ade9d8458","type":"server-events","z":"abf12ceb16a2c99b","name":"HA Startup","server":"bde4b68e.528848","version":1,"event_type":"home_assistant_client","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":880,"y":2040,"wires":[["0c85f44350c146ff"]]},{"id":"674af57a4801a828","type":"change","z":"abf12ceb16a2c99b","name":"","rules":[{"t":"set","p":"pip","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":800,"wires":[[]]},{"id":"ad5bdcc08f9c7380","type":"server-state-changed","z":"abf12ceb16a2c99b","name":"Capsule","server":"682b837e4ccd099b","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.capsule","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":200,"wires":[["ab423feeb679b080"]]},{"id":"b3b26ac086a7996f","type":"api-call-service","z":"abf12ceb16a2c99b","name":"capsule on","server":"682b837e4ccd099b","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.capsule"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1190,"y":760,"wires":[[]]},{"id":"f1347d299d050f5e","type":"api-call-service","z":"abf12ceb16a2c99b","name":"capsule off","server":"682b837e4ccd099b","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.capsule"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1190,"y":840,"wires":[[]]},{"id":"ab499b4770b6b0aa","type":"switch","z":"abf12ceb16a2c99b","name":"PIP ?","property":"payload.Data.PIPSession.Speed","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":800,"wires":[["c68f2b5d0aeb288c"],["031dc8a0d9416c7c"]]},{"id":"868f614a1c9ee89d","type":"switch","z":"abf12ceb16a2c99b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":200,"wires":[["ee6d7558544ef65a"],["7f030bf6137a530a"]]},{"id":"ab423feeb679b080","type":"switch","z":"abf12ceb16a2c99b","name":"<> g pip","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"pip","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":200,"wires":[["868f614a1c9ee89d"]]},{"id":"ee6d7558544ef65a","type":"change","z":"abf12ceb16a2c99b","name":"Return","rules":[{"t":"set","p":"payload","pt":"msg","to":"27","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":180,"wires":[["9c36cf916df18375","34172299fcc545a5","2d972eccec95c5f8"]]},{"id":"9c36cf916df18375","type":"delay","z":"abf12ceb16a2c99b","name":"2 sec","pauseType":"delay","timeout":"2000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":590,"y":160,"wires":[["3d47019fb08ca61f"]]},{"id":"3d47019fb08ca61f","type":"change","z":"abf12ceb16a2c99b","name":"OK","rules":[{"t":"set","p":"payload","pt":"msg","to":"13","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":160,"wires":[["34172299fcc545a5","2d972eccec95c5f8"]]},{"id":"7f030bf6137a530a","type":"change","z":"abf12ceb16a2c99b","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"19","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":220,"wires":[["34172299fcc545a5"]]},{"id":"c68f2b5d0aeb288c","type":"change","z":"abf12ceb16a2c99b","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":760,"wires":[["b3b26ac086a7996f","674af57a4801a828"]]},{"id":"031dc8a0d9416c7c","type":"change","z":"abf12ceb16a2c99b","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":840,"wires":[["f1347d299d050f5e","674af57a4801a828"]]},{"id":"fa5369de17586ad4","type":"change","z":"abf12ceb16a2c99b","name":"","rules":[{"t":"set","p":"pause","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":960,"wires":[[]]},{"id":"b175708b37a7eeba","type":"api-call-service","z":"abf12ceb16a2c99b","name":"Pause on","server":"682b837e4ccd099b","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.pause"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1180,"y":920,"wires":[[]]},{"id":"838e5ef03a070c33","type":"switch","z":"abf12ceb16a2c99b","name":"Pause ?","property":"payload.Data.LiveSession.Speed","propertyType":"msg","rules":[{"t":"lte","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":800,"y":960,"wires":[["b3fc07a10b96de59"],["1011e27b874b0e20"]]},{"id":"b3fc07a10b96de59","type":"change","z":"abf12ceb16a2c99b","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":920,"wires":[["fa5369de17586ad4","b175708b37a7eeba"]]},{"id":"1011e27b874b0e20","type":"change","z":"abf12ceb16a2c99b","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":1000,"wires":[["fa5369de17586ad4","d2f0128ad7f18c6c"]]},{"id":"d2f0128ad7f18c6c","type":"api-call-service","z":"abf12ceb16a2c99b","name":"Pause off","server":"682b837e4ccd099b","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.pause"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1180,"y":1000,"wires":[[]]},{"id":"3f55eb281e4cf970","type":"server-state-changed","z":"abf12ceb16a2c99b","name":"Pause ","server":"682b837e4ccd099b","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.pause","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":70,"y":360,"wires":[["d04bf87c3a8a4c49"]]},{"id":"d04bf87c3a8a4c49","type":"switch","z":"abf12ceb16a2c99b","name":"<> g pause","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"pause","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":360,"wires":[["436939efbeedb61e"]]},{"id":"436939efbeedb61e","type":"change","z":"abf12ceb16a2c99b","name":"play pause","rules":[{"t":"set","p":"payload","pt":"msg","to":"306","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":360,"wires":[["34172299fcc545a5"]]},{"id":"53fa4da92fa7bb69","type":"debug","z":"abf12ceb16a2c99b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1490,"y":2180,"wires":[]},{"id":"6e5e57550141e216","type":"file in","z":"abf12ceb16a2c99b","name":"","filename":"/config/sources.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":380,"y":40,"wires":[["7b2a96363fe6a2f0"]]},{"id":"15d48961f483409d","type":"inject","z":"abf12ceb16a2c99b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":100,"wires":[["6e5e57550141e216"]]},{"id":"7b2a96363fe6a2f0","type":"json","z":"abf12ceb16a2c99b","name":"","property":"payload","action":"","pretty":false,"x":550,"y":40,"wires":[["3dfd15a638d1afcb"]]},{"id":"a81df3a9e96d802f","type":"api-call-service","z":"abf12ceb16a2c99b","name":"STB7 sources","server":"682b837e4ccd099b","version":5,"debugenabled":false,"domain":"input_select","service":"set_options","areaId":[],"deviceId":[],"entityId":["input_select.stb7_sources"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1160,"y":40,"wires":[[]]},{"id":"3dfd15a638d1afcb","type":"change","z":"abf12ceb16a2c99b","name":"","rules":[{"t":"set","p":"sources","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":40,"wires":[["7adad51193e7e52e"]]},{"id":"7adad51193e7e52e","type":"function","z":"abf12ceb16a2c99b","name":"","func":"source = msg.payload;\nvar result =[];\nfor (let i = 0; i < source.length; i++) {\n    result [i] = source [i].Name \n    }\n    msg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":40,"wires":[["ac446f2a16081327"]]},{"id":"ac446f2a16081327","type":"function","z":"abf12ceb16a2c99b","name":"Data","func":"var newMsg =  {  \n   payload:{  \n      \"data\":{  \n         \"options\": \n            msg.payload\n       }\n   }\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":40,"wires":[["a81df3a9e96d802f"]]},{"id":"23741bb1c8e8f1dc","type":"function","z":"abf12ceb16a2c99b","name":"value: 0","func":"var newMsg =  {  \n   payload:{  \n      \"data\":{  \n         \"value\": 0\n       \n       }\n   }\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1020,"wires":[["a8f52fc3103f6f9a"]]},{"id":"a8f52fc3103f6f9a","type":"api-call-service","z":"abf12ceb16a2c99b","name":"STB7 key ","server":"37ef95e1.98fcea","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.stb7_key"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":1020,"wires":[[]]},{"id":"b52957711d9336e2","type":"server-events","z":"abf12ceb16a2c99b","name":"HA Startup","server":"bde4b68e.528848","version":1,"event_type":"home_assistant_client","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":80,"y":40,"wires":[["c3d88fbe5501619e"]]},{"id":"c3d88fbe5501619e","type":"delay","z":"abf12ceb16a2c99b","name":"20 sec","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":210,"y":40,"wires":[["6e5e57550141e216"]]},{"id":"2d972eccec95c5f8","type":"debug","z":"abf12ceb16a2c99b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":180,"wires":[]},{"id":"c3fbb8f85e64647b","type":"inject","z":"abf12ceb16a2c99b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"23","payloadType":"num","x":570,"y":660,"wires":[["ef39efe19b8b32e9"]]},{"id":"b7803c49b217080c","type":"debug","z":"abf12ceb16a2c99b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":1040,"wires":[]},{"id":"21727d21c8535443","type":"inject","z":"abf12ceb16a2c99b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":680,"y":560,"wires":[["e2d8b4d163b9ffe6"]]},{"id":"ce891a12e73ed0c8","type":"websocket-client","path":"ws://192.168.1.75:7682","tls":"","wholemsg":"false","hb":"0","subprotocol":"lws-bidirectional-protocol"},{"id":"682b837e4ccd099b","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"bde4b68e.528848","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"37ef95e1.98fcea","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]