STB7.json
[{"id":"27d6f8de526089e7","type":"tab","label":"Stb7","disabled":false,"info":"","env":[]},{"id":"919255f2d14a7ae0","type":"websocket out","z":"27d6f8de526089e7","name":"ws stb7","server":"","client":"2869633412f664e6","x":1440,"y":360,"wires":[]},{"id":"5980c3608b6d169b","type":"function","z":"27d6f8de526089e7","name":"ButtonEvent","func":"msg.payload = {\n    \"Params\": {\n        \"Token\": \"LAN\",\n        \"Action\": \"ButtonEvent\",\n        \"Press\": [msg.payload],\n        \"DeviceId\":\"1234567890\",\n    }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":240,"wires":[["d750941443515a79"]]},{"id":"d750941443515a79","type":"json","z":"27d6f8de526089e7","name":"","property":"payload","action":"","pretty":false,"x":1290,"y":360,"wires":[["919255f2d14a7ae0"]]},{"id":"42a3279573a86d49","type":"function","z":"27d6f8de526089e7","name":"GetSessionsStatus","func":"msg.payload = {\n    \"Params\": {\n        \"Token\": \"LAN\",\n        \"Action\": \"GetSessionsStatus\",\n        \"DeviceId\":\"1234567890\",\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":440,"wires":[["d750941443515a79"]]},{"id":"9e83a581fa6dae2c","type":"function","z":"27d6f8de526089e7","name":"On-Off","func":"msg.payload = {\n    \"Params\": {\n        \"Token\": \"LAN\",\n        \"Action\": \"ButtonEvent\",\n        \"Press\": [303]\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":600,"wires":[["d750941443515a79"]]},{"id":"6d5e5b48eaeb37e8","type":"server-state-changed","z":"27d6f8de526089e7","name":"STB7 state","server":"26f28914e29b4b10","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.stb7_state","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":600,"wires":[["6250e2c355092954"]]},{"id":"3a2a13053404f242","type":"inject","z":"27d6f8de526089e7","name":"repete 4 sec","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"4","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":120,"y":440,"wires":[["42a3279573a86d49"]]},{"id":"83f5c034d4f17e9d","type":"websocket in","z":"27d6f8de526089e7","name":"ws stb7","server":"","client":"2869633412f664e6","x":110,"y":1160,"wires":[["37337dea119ffb64"]]},{"id":"37337dea119ffb64","type":"json","z":"27d6f8de526089e7","name":"","property":"payload","action":"","pretty":false,"x":230,"y":1160,"wires":[["a59f9664b87b3530"]]},{"id":"a59f9664b87b3530","type":"switch","z":"27d6f8de526089e7","name":"GetSessionsStatus ?","property":"payload.Action","propertyType":"msg","rules":[{"t":"eq","v":"GetSessionsStatus","vt":"str"},{"t":"eq","v":"ButtonEvent","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":400,"y":1160,"wires":[["aa4d65abb844d2d3","a4c57202a9b4e12f","1f2c9be4fef96764","8491cea4eb0e6f45","80d43d2fd4f55b81"],["b8e8587bf2468a75"],[]]},{"id":"b6bbaf225e4f38b7","type":"api-call-service","z":"27d6f8de526089e7","name":"STB7 state on","server":"26f28914e29b4b10","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.stb7_state"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":780,"wires":[[]]},{"id":"1a147c14f42efda4","type":"api-call-service","z":"27d6f8de526089e7","name":"STB7 state off","server":"26f28914e29b4b10","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.stb7_state"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":860,"wires":[[]]},{"id":"6363a7564703b0c4","type":"server-state-changed","z":"27d6f8de526089e7","name":"STB7 key","server":"26f28914e29b4b10","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.stb7_key","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"0","halt_if_type":"num","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":280,"wires":[["d8ba15c4cb34d6c8"],[]]},{"id":"d8ba15c4cb34d6c8","type":"change","z":"27d6f8de526089e7","name":"entier","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round($number(msg.payload))\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":280,"wires":[["5980c3608b6d169b"]]},{"id":"2687d0ef1d8803f7","type":"server-state-changed","z":"27d6f8de526089e7","name":"STB7  sources","server":"26f28914e29b4b10","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.stb7_sources","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":500,"wires":[["20839c63dd4a6785"]]},{"id":"20839c63dd4a6785","type":"function","z":"27d6f8de526089e7","name":"found","func":"a = global.get (\"sources\")\n\nmsg.payload = a.find(element => element.Name == msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":500,"wires":[["579436aed60f5dae"]]},{"id":"579436aed60f5dae","type":"change","z":"27d6f8de526089e7","name":"extrait Num","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Num","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":500,"wires":[["81de4474dfd426d1"]]},{"id":"81de4474dfd426d1","type":"function","z":"27d6f8de526089e7","name":"ZAP (payload)","func":"msg.payload = {\n    \"Params\": {\n        \"Token\": \"LAN\",\n        \"Action\": \"CustomEvent\",\n        \"Event\": \"GotoLive\",\n        \"Params\": [msg.payload],\n//       \"DeviceModel\":\"samsung SM-G7810\",\n//        \"DeviceSoftVersion\":\"SDK31\",\n        \"DeviceId\":\"1234567890\",\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":500,"wires":[["d750941443515a79"]]},{"id":"9854deb932e02b10","type":"change","z":"27d6f8de526089e7","name":"","rules":[{"t":"set","p":"pip","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":980,"wires":[[]]},{"id":"85f635d092e917be","type":"server-state-changed","z":"27d6f8de526089e7","name":"Capsule","server":"26f28914e29b4b10","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.capsule","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":200,"wires":[["8b687c5e0fc08599"]]},{"id":"3f1195f9fd8b21c4","type":"api-call-service","z":"27d6f8de526089e7","name":"capsule on","server":"26f28914e29b4b10","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.capsule"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1010,"y":940,"wires":[[]]},{"id":"a73b438f7ec0f07f","type":"api-call-service","z":"27d6f8de526089e7","name":"capsule off","server":"26f28914e29b4b10","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.capsule"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1010,"y":1020,"wires":[[]]},{"id":"a4c57202a9b4e12f","type":"switch","z":"27d6f8de526089e7","name":"PIP ?","property":"payload.Data.PIPSession.Speed","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":980,"wires":[["3925fb75d046b751"],["d98366f9dc9e0b9c"]]},{"id":"fb38033e3b0a5cb7","type":"switch","z":"27d6f8de526089e7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":200,"wires":[["e3559d337597e530"],["1937f6f8398d2220"]]},{"id":"8b687c5e0fc08599","type":"switch","z":"27d6f8de526089e7","name":"<> g pip","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"pip","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":200,"wires":[["fb38033e3b0a5cb7"]]},{"id":"e3559d337597e530","type":"change","z":"27d6f8de526089e7","name":"Return","rules":[{"t":"set","p":"payload","pt":"msg","to":"27","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":180,"wires":[["82cbe615097fd96d","5980c3608b6d169b","f2df84a70ebe7be7"]]},{"id":"82cbe615097fd96d","type":"delay","z":"27d6f8de526089e7","name":"2 sec","pauseType":"delay","timeout":"2000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":590,"y":160,"wires":[["860b97e1e3c3925e"]]},{"id":"860b97e1e3c3925e","type":"change","z":"27d6f8de526089e7","name":"OK","rules":[{"t":"set","p":"payload","pt":"msg","to":"13","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":160,"wires":[["5980c3608b6d169b","f2df84a70ebe7be7"]]},{"id":"1937f6f8398d2220","type":"change","z":"27d6f8de526089e7","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"19","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":220,"wires":[["5980c3608b6d169b"]]},{"id":"3925fb75d046b751","type":"change","z":"27d6f8de526089e7","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":940,"wires":[["3f1195f9fd8b21c4","9854deb932e02b10"]]},{"id":"d98366f9dc9e0b9c","type":"change","z":"27d6f8de526089e7","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1020,"wires":[["a73b438f7ec0f07f","9854deb932e02b10"]]},{"id":"de890c7e6edcc24c","type":"change","z":"27d6f8de526089e7","name":"","rules":[{"t":"set","p":"pause","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1140,"wires":[[]]},{"id":"55432ffc648ed956","type":"api-call-service","z":"27d6f8de526089e7","name":"Pause on","server":"26f28914e29b4b10","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.pause"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":1100,"wires":[[]]},{"id":"1f2c9be4fef96764","type":"switch","z":"27d6f8de526089e7","name":"Pause ?","property":"payload.Data.LiveSession.Speed","propertyType":"msg","rules":[{"t":"lte","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":1140,"wires":[["8ffe9036fa042f99"],["3808235bdc499db7"]]},{"id":"8ffe9036fa042f99","type":"change","z":"27d6f8de526089e7","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1100,"wires":[["de890c7e6edcc24c","55432ffc648ed956"]]},{"id":"3808235bdc499db7","type":"change","z":"27d6f8de526089e7","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1180,"wires":[["de890c7e6edcc24c","c9b821a6f9c999fb"]]},{"id":"c9b821a6f9c999fb","type":"api-call-service","z":"27d6f8de526089e7","name":"Pause off","server":"26f28914e29b4b10","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.pause"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":1180,"wires":[[]]},{"id":"cca283ae7f87bdfd","type":"server-state-changed","z":"27d6f8de526089e7","name":"Pause ","server":"26f28914e29b4b10","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.pause","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":70,"y":360,"wires":[["a29dc72afeb4346b"]]},{"id":"a29dc72afeb4346b","type":"switch","z":"27d6f8de526089e7","name":"<> g pause","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"pause","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":360,"wires":[["8d50320467c1684a"]]},{"id":"8d50320467c1684a","type":"change","z":"27d6f8de526089e7","name":"play pause","rules":[{"t":"set","p":"payload","pt":"msg","to":"306","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":360,"wires":[["5980c3608b6d169b"]]},{"id":"ceb72a6fea1f9f4f","type":"file in","z":"27d6f8de526089e7","name":"","filename":"/config/sources.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":380,"y":40,"wires":[["e18494a5843ec5e6"]]},{"id":"35917a0a965ce365","type":"inject","z":"27d6f8de526089e7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":100,"wires":[["ceb72a6fea1f9f4f"]]},{"id":"e18494a5843ec5e6","type":"json","z":"27d6f8de526089e7","name":"","property":"payload","action":"","pretty":false,"x":550,"y":40,"wires":[["2251d593ecd6d7c6"]]},{"id":"14491cfba8f19560","type":"api-call-service","z":"27d6f8de526089e7","name":"STB7 sources","server":"26f28914e29b4b10","version":5,"debugenabled":false,"domain":"input_select","service":"set_options","areaId":[],"deviceId":[],"entityId":["input_select.stb7_sources"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1160,"y":40,"wires":[[]]},{"id":"2251d593ecd6d7c6","type":"change","z":"27d6f8de526089e7","name":"","rules":[{"t":"set","p":"sources","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":40,"wires":[["386b864ee3784e22"]]},{"id":"386b864ee3784e22","type":"function","z":"27d6f8de526089e7","name":"","func":"source = msg.payload;\nvar result =[];\nfor (let i = 0; i < source.length; i++) {\n    result [i] = source [i].Name \n    }\n    msg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":40,"wires":[["30cc28808a6ba829"]]},{"id":"30cc28808a6ba829","type":"function","z":"27d6f8de526089e7","name":"Data","func":"var newMsg =  {  \n   payload:{  \n      \"data\":{  \n         \"options\": \n            msg.payload\n       }\n   }\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":40,"wires":[["14491cfba8f19560"]]},{"id":"b8e8587bf2468a75","type":"function","z":"27d6f8de526089e7","name":"value: 0","func":"var newMsg =  {  \n   payload:{  \n      \"data\":{  \n         \"value\": 0\n       \n       }\n   }\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":1320,"wires":[["716c24ea5499c43a"]]},{"id":"716c24ea5499c43a","type":"api-call-service","z":"27d6f8de526089e7","name":"STB7 key ","server":"37ef95e1.98fcea","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.stb7_key"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":1320,"wires":[[]]},{"id":"c7d8ce8f40a81992","type":"server-events","z":"27d6f8de526089e7","name":"HA Startup","server":"bde4b68e.528848","version":1,"event_type":"home_assistant_client","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":80,"y":40,"wires":[["722ce3ed51440933"]]},{"id":"722ce3ed51440933","type":"delay","z":"27d6f8de526089e7","name":"20 sec","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":210,"y":40,"wires":[["ceb72a6fea1f9f4f"]]},{"id":"f2df84a70ebe7be7","type":"debug","z":"27d6f8de526089e7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":180,"wires":[]},{"id":"843092b14c3113ca","type":"inject","z":"27d6f8de526089e7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"23","payloadType":"num","x":410,"y":460,"wires":[["81de4474dfd426d1"]]},{"id":"e2a0fc9d9f5a9194","type":"inject","z":"27d6f8de526089e7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":720,"y":660,"wires":[["9e83a581fa6dae2c"]]},{"id":"8491cea4eb0e6f45","type":"change","z":"27d6f8de526089e7","name":"Name","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Data.LiveSession.LiveItem.CurrentChannel.Name","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":920,"wires":[[]]},{"id":"7cbc1e389922034b","type":"debug","z":"27d6f8de526089e7","name":"Name","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":920,"wires":[]},{"id":"33fb506339605293","type":"change","z":"27d6f8de526089e7","name":"","rules":[{"t":"set","p":"status","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":820,"wires":[[]]},{"id":"aa4d65abb844d2d3","type":"switch","z":"27d6f8de526089e7","name":"OK ?","property":"payload.RemoteResponseCode","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":820,"wires":[["5ed7a0e0992a2d24"],["087f718c865230ae"]]},{"id":"5ed7a0e0992a2d24","type":"change","z":"27d6f8de526089e7","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":780,"wires":[["b6bbaf225e4f38b7","33fb506339605293"]]},{"id":"087f718c865230ae","type":"change","z":"27d6f8de526089e7","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":860,"wires":[["1a147c14f42efda4","33fb506339605293"]]},{"id":"6250e2c355092954","type":"switch","z":"27d6f8de526089e7","name":"<> g status","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"status","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":600,"wires":[["f7a1b9697b048f8e"]]},{"id":"af8c414584cd4471","type":"function","z":"27d6f8de526089e7","name":"GetVersions","func":"msg.payload = {\n    \"Params\": {\n        \"Token\": \"LAN\",\n        \"Action\": \"GetVersions\",\n        \"DeviceId\":\"1234567890\",\n    }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":380,"wires":[["d750941443515a79"]]},{"id":"6a57fd5a6a65af8a","type":"inject","z":"27d6f8de526089e7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":660,"y":380,"wires":[["af8c414584cd4471"]]},{"id":"50a4cbdd58519937","type":"inject","z":"27d6f8de526089e7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"292","payloadType":"num","x":330,"y":320,"wires":[["5980c3608b6d169b"]]},{"id":"54f0fbe9f1fe68e2","type":"function","z":"27d6f8de526089e7","name":"APP (payload)","func":"msg.payload = {\n    \"Params\": {\n        \"Token\": \"LAN\",\n        \"Action\": \"GotoApp\",\n        \"AppName\": [msg.payload],\n        \"DeviceId\":\"1234567890\",\n    }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":300,"wires":[["d750941443515a79"]]},{"id":"55325933ef5f2f15","type":"inject","z":"27d6f8de526089e7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Epg","payloadType":"str","x":650,"y":300,"wires":[["54f0fbe9f1fe68e2"]]},{"id":"4f035332972b1568","type":"inject","z":"27d6f8de526089e7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Mosaic","payloadType":"str","x":650,"y":340,"wires":[["54f0fbe9f1fe68e2"]]},{"id":"9b56a5ddf9a0c46b","type":"inject","z":"27d6f8de526089e7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":570,"y":460,"wires":[["81de4474dfd426d1"]]},{"id":"f7a1b9697b048f8e","type":"switch","z":"27d6f8de526089e7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":600,"wires":[["8dba3754d8c511ba"],["9e83a581fa6dae2c"]]},{"id":"80d43d2fd4f55b81","type":"change","z":"27d6f8de526089e7","name":"CurrentChannel_Id","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Data.LiveSession.LiveItem.CurrentChannel.Id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1240,"wires":[["f3a05a0c202ebc9e"]]},{"id":"6c0d09547f66583f","type":"debug","z":"27d6f8de526089e7","name":"websocket","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":720,"wires":[]},{"id":"f3a05a0c202ebc9e","type":"change","z":"27d6f8de526089e7","name":"","rules":[{"t":"set","p":"CurrentChannel_Id","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1240,"wires":[[]]},{"id":"8dba3754d8c511ba","type":"change","z":"27d6f8de526089e7","name":"Get CurChanId","rules":[{"t":"set","p":"payload","pt":"msg","to":"CurrentChannel_Id","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":540,"wires":[["81de4474dfd426d1","184c5ddad319654b"]]},{"id":"184c5ddad319654b","type":"delay","z":"27d6f8de526089e7","name":"2 sec","pauseType":"delay","timeout":"2000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":750,"y":560,"wires":[["9e83a581fa6dae2c"]]},{"id":"2869633412f664e6","type":"websocket-client","path":"ws://192.168.1.63:7682","tls":"","wholemsg":"false","hb":"0","subprotocol":"lws-bidirectional-protocol"},{"id":"26f28914e29b4b10","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"37ef95e1.98fcea","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"bde4b68e.528848","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]